*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    /*font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;*/
}
.nav{
    background-color: rgb(178, 246, 246);
}
.nav__container--list{
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
}
#home{
    background-color: azure;
}

#skills{
    background-color: lightblue;
}

.quote{
    background-color: rgb(198, 145, 247);
}

#proyects{
    background-color: rgb(255, 178, 178);
}

#contact{
    background-color: burlywood;

}

.footer{
    background-color: darkgrey;
}


.list{
   list-style: none;
    
}
   
a{
    text-decoration: none;
    color: black;
}   